# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/api/node_modules
/client/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/client/build

# misc
.DS_Store
/api/config/.env
/api/config/.env.local
/api/config/.env.development.local
/api/config/.env.test.local
/api/config/.env.production.local
/api/config/*.json

/client/.env
/client/.env.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
